*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

section
{
    position: relative;
    width: 100%;
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

header
{
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    display: block;
    justify-content: space-between;
}

/* stil si animatie logo din index */

#logo
{
    margin-left: 40px;
    width: 30%;
    transition: 1s;
    margin-top: 20px;
}

#logo:hover
{
    width: 40%;
}

/* stilul titlurilor si animatii */

.title
{
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    display: inline;
}

.title:hover
{
    color: grey;
    transition: 0.5s;
    font-size: 60px;
}

.title:not(:hover)
{
    transition: 0.5s;
}

/* animatie subtitluri */

h4:hover
{
    color: grey;
    transition: 0.5s;
}

/* stil continut */

.content
{
    max-width: 500px;
    margin: 40px 40px;
    width: 50%
}

/* stil butonul de "more info" */

.info p
{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.info-button, #submit
{
    background: grey;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    float: left;
}

.info-button:hover, #submit:hover
{
    background: rgb(78, 77, 77);
    transition: 0.5s;
}

.info-button:not(:hover), #submit:not(:hover)
{
    transition: 0.5s;
}

/* stiluri pentru pagina de formular */

form
{
    display: grid;
    margin: 2% 5%;
}

form div
{
    margin: 10px 0;
    font-size: 20px;
}

form input
{
    margin-top: 20px;
    width: 250px;
    height: 30px;
    color: black;
}

form textarea
{   
    margin-top: 20px;
    width: 250px;
    height: 100px;
    color: black;
}

/* stilul pentru footer */

footer
{
    width: 100%;
    min-height: 3vh;
    color: white;
    background-color: black;
    text-align: center;
}

footer p
{
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    opacity: 0.5;
}

/* stiluri pentru pagina de eroare */

#error-title
{
    font-size: 250px;
}

#error-title:not(:hover)
{
    transition: 0.5s;
}

#error-title:hover
{
    font-size: 280px;
    transition: 0.5s;
    color: grey;
}

#error
{
    transform: translateY(20%);
    margin: 0 10%;
}

#error pre
{
    font-size: 25px;
}

/* stiluri pentru galeria foto a filmelor */

.gallery-films figure
{
    width: 60%;
    display: flex;
    margin: 50px;
    margin-bottom: 40px;
}

.gallery-films img
{
    border: white 7px solid;
    max-width: 220px;
    width: 45%;
    min-width: 200px;
    object-fit: cover;
    height: 100%; 
}

.gallery-films figcaption
{
    margin: 30px;
    font-size: 20px;
}

.gallery-films a{
    color:rgb(170, 165, 165);
}

.gallery-films figcaption p
{
    text-align: justify;
}

/* stiluri pentru galeria din pagina actorilor */

.gallery-actors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.gallery-actors figure
{
    float: left;
    margin: 15px;
    position: relative;
    background-color: black;
}

.gallery-actors img
{
    height: 300px;
    object-fit: cover;
    width: 220px;
}

.gallery-actors img:not(:hover)
{
    opacity: 0.7;
    transition: 0.5s;
}

.gallery-actors img:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

.gallery-actors figcaption
{
    margin: 20px;
    text-align: justify;
    font-size: 16px;
    text-transform: uppercase;
}

.gallery-actors figcaption p
{
    font-size: 16px;
    color: black;
    text-transform: none;
}
.gallery-actors figure:hover figcaption p
{
    color:rgb(134, 129, 129);
}

/* stiluri pentru galeria foto*/

.gallery
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 6px;
}
  
.column
{
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
}
  
.column img
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: 3s;
    display: none;
}

.column img:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

.column img:not(:hover)
{
    transition: 0.5s;
}

/* stilul pentru bara de navigatie */

.nav a {
    float: right;
    padding: 14px 16px;
    font-size: 17px;
    margin-right: 20px;
  }
  
/* clasa active va indica in navigatie pe ce pagina ne aflam */
.active
{
    background-color: rgb(201, 176, 38);
    color: white;
}
  
/* ascunde iconita pentru inchiderea si deschiderea meniului pe ecrane mici */
.nav .icon
{
    display: none;
}

/* butonul de dropdown din navigatie */
.dropdown
{
    float: right;
    margin-right: 20px;
}

.dropdown .dropbtn
{
    font-size: 17px;
    border: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
}
  
/* continutul butonului de dropdown din navigatie */
.dropdown-content
{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a
{
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
  
/* adaugam efect de hover pentru toate butoanele din navigatie */
.nav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover
{
    background-color: #555;
    transition: 0.5s;
}
  
/* afisarea continutului din dropdown cand ducem cursorul */
.dropdown:hover .dropdown-content
{
    display: block;
}

/* stiluri pentru pagina jocului */

#board
{
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid white;
    overflow: hidden;
    background: url(images/start.gif);
    animation: none;
    background-size:cover;
    background-repeat: no-repeat;
}

@keyframes scroll-background
{
    from
    {
        background-position-y: 0px;
    }
    to
    {
        background-position-y: 800px;;
    }
}

#jet
{
    visibility: hidden;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(images/xwing.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
}

.rocks
{ 
    position: absolute;
    top: -70px;
    width: 70px;
    height: 70px;
    background: url("images/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bullets
{
    position: absolute;
    bottom: 40px;
    left: 51%;
    width: 40px;
    height: 40px;
    background: url("images/blaster.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#points, #highscore
{
    position: absolute;
    bottom: 40px;
    margin: 40px;
    opacity: 0.7;
    font-size: 8em;
    color: white;
}

#highscore
{
    bottom: -10px;
    font-size: 1.8em;
}

/* media querries pentru site responsive*/
  
/* vizualizarea de pe tableta */

@media (max-width: 750px)
{ 
    .title
    {
        font-size: 35px;
    }
    .title:hover
    {
        font-size: 45px;
    }
    .info p
    {
        font-size: 17px;
    }
    .info-button
    {
        padding: 5px 10px;
        font-size: smaller;
    }
    /* arata doar butonul de home */
    .nav a:not(:first-child), .dropdown .dropbtn
    {
        display: none;
    }
    /* afiseaza iconita pentru inchiderea si deschiderea meniului */
    .nav a.icon
    {
        float: right;
        display: block;
    }
    .nav a
    {
        padding: 14px 10px;
        margin-right: 18px;
    }
    .gallery-films figure
    {
        flex-direction: column;
        width: 70%;
    }
    .gallery-films img
    {
        margin-left: 30px;
    }
    .gallery-actors figure
    {
        margin: 0px;
        transform: scale(0.9);
    }
    /* va afisa 2 coloane in loc de 4 */
    .column
    {
        flex: 50%;
        max-width: 50%;
    }
    footer p
    {
        font-size: 10px;
    }
}

/* clasa "responsive" este adaugata la navigatie cand utilizatorul apasa pe iconita */

@media (max-width: 750px)
{
    .nav.responsive
    {
        position: relative;
    }
    .nav.responsive a.icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
    .nav.responsive .dropdown
    {
        float: none;
    }
    .nav.responsive .dropdown-content
    {
        position: relative;
    }
    .nav.responsive .dropdown .dropbtn
    {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* vizualizarea de pe telefonul mobil */

@media (max-width: 500px)
{
    .title
    {
        margin: 20px;
        font-size: 30px;
    }
    .title:hover
    {
        font-size: 35px;
    }
    .info p
    {
        font-size: 14px;
    }
    .info-button
    {
        padding: 5px 10px;
        font-size: 12px;
    }
    .nav a 
    {
        font-size: 14px;
        margin-right: 14px;
    }
    .dropdown .dropbtn
    {
        font-size: 14px;
    }
    .gallery-films
    {
        margin-left:-40px;
    }
    .gallery-actors figure
    {
        margin: -40px;
        transform: scale(0.6);
        margin-bottom: -120px;
    }
    /* va afisa o coloana in loc de 2 */
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
    footer p
    {
        font-size: 8px;
    }
}