<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section style = "background: black;">
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors" class="active">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
    <div><h2 class="title">Cast members</h2></div>
    <div class="gallery-actors">
            <figure>
                <img id="luke" src="/public/assets/images/markhamill.jpg" alt="Mark Hamill">
                <figcaption>Mark Hamill<p>as Luke Skywalker</p>
                </figcaption>
            </figure>
            <figure>
                <img id="han" src="/public/assets/images/harrisonford.jpg" alt="Harrison Ford">
                <figcaption>Harrison Ford<p>as Han Solo</p></figcaption>
            </figure>
            <figure>
                <img id="leia" src="/public/assets/images/carriefisher.jpg" alt="Carrie Fisher">
                <figcaption>Carrie Fisher<p>as Leia Organa</p></figcaption>
            </figure>
            <figure>
                <img id="lando" src="/public/assets/images/billydeewilliams.jpg" alt="Billy Dee Williams">
                <figcaption>Billy Dee Williams<p>as Lando Calrissian</p></figcaption>
            </figure>
            <figure>
                <img id="obi-wan" src="/public/assets/images/ewanmcgregor.jpg" alt="Ewan McGregor">
                <figcaption>Ewan McGregor<p>as Obi-Wan Kenobi</p></figcaption>
            </figure>
            <figure>
                <img id="anakin" src="/public/assets/images/haydenchristensen.jpg" alt="Hayden Christensen">
                <figcaption>Hayden Christensen<p>as Anakin Skywalker</p></figcaption>
            </figure>
            <figure>
                <img id="qui-gon" src="/public/assets/images/liamneeson.jpg" alt="Liam Neeson">
                <figcaption>Liam Neeson<p>as Qui-Gon Jinn</p></figcaption>
            </figure>
            <figure>
                <img id="padme" src="/public/assets/images/natalieportman.jpg" alt="Natalie Portman">
                <figcaption>Natalie Portman<p>as Padme Amidala</p></figcaption>
            </figure>
            <figure>
                <img id="rey" src="/public/assets/images/daisyridley.jpg" alt="Daisy Ridley">
                <figcaption>Daisy Ridley<p>as Rey Skywalker</p></figcaption>
            </figure>
            <figure>
                <img id="ben" src="/public/assets/images/adamdriver.jpg" alt="Adam Driver">
                <figcaption>Adam Driver<p>as Ben Solo</p></figcaption>
            </figure>
            <figure>
                <img id="poe" src="/public/assets/images/oscarisaac.jpg" alt="Oscar Isaac">
                <figcaption>Oscar Isaac<p>as Poe Dameron</p></figcaption>
            </figure>
            <figure>
                <img id="finn" src="/public/assets/images/johnboyega.jpg" alt="John Boyega">
                <figcaption>John Boyega<p>as Finn</p></figcaption>
            </figure>
    </div>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>