<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section>
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown active">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
    <div><h2 class="title">The Third Trilogy</h2></div>
    <div class="gallery-films">
            <figure>
                <img src="/public/assets/images/7.jfif" alt="The Force Awakens">
                <figcaption>
                    <h4>Star Wars: The Force Awakens (2015)</h4>
                    <pre> </pre>
                    <p>As a new threat to the galaxy rises, Rey, a desert scavenger,
                        and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca
                        to search for the one hope of restoring peace.</p>
                    <p><br>Director: J.J. Abrams<br> Writers: Lawrence Kasdan, J.J. Abrams<br>
                    Stars: <a href="actors.html#rey" target="_blank">Daisy Ridley</a>,
                    <a href="actors.html#finn" target="_blank">John Boyega</a>,
                    <a href="actors.html#poe" target="_blank">Oscar Isaac</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/8.jpg" alt="The Last Jedi">
                <figcaption>
                    <h4>Star Wars: The Last Jedi (2017)</h4>
                    <pre> </pre>
                    <p>Rey develops her newly discovered abilities with the guidance of Luke Skywalker,
                        who is unsettled by the strength of her powers. Meanwhile, the Resistance
                        prepares for battle with the First Order.</p>
                    <p><br>Director: Rian Johnson<br> Writers: Rian Johnson, George Lucas<br>
                    Stars: <a href="actors.html#rey" target="_blank">Daisy Ridley</a>,
                    <a href="actors.html#ben" target="_blank">Adam Driver</a>,
                    <a href="actors.html#luke" target="_blank">Mark Hamill</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/9.jfif" alt="The Rise Of Skywalker">
                <figcaption>
                    <h4>Star Wars: The Rise Of Skywalker (2019)</h4>
                    <pre> </pre>
                    <p>The surviving members of the resistance face the First Order once again,
                        and the legendary conflict between the Jedi and the Sith reaches its peak
                        bringing the Skywalker saga to its end.</p>
                    <p><br>Director: J.J. Abrams<br> Writers: Chris Terrio, J.J. Abrams<br>
                    Stars: <a href="actors.html#rey" target="_blank">Daisy Ridley</a>,
                    <a href="actors.html#ben" target="_blank">Adam Driver</a>,
                    <a href="actors.html#poe" target="_blank">Oscar Isaac</a><br>
                </p>
                </figcaption>
            </figure>
    </div>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>