<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section>
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown active">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
    <div><h2 class="title">The Second Trilogy</h2></div>
    <div class="gallery-films">
            <figure>
                <img src="/public/assets/images/4.jpg" alt="The Phantom Menace">
                <figcaption>
                    <h4>Star Wars: The Phantom Menace (1999)</h4>
                    <pre> </pre>
                    <p>Two Jedi escape a hostile blockade to find allies and come across
                        a young boy who may bring balance to the Force, but the long
                        dormant Sith resurface to claim their original glory.</p>
                    <p><br>Director: George Lucas<br> Writer: George Lucas<br>
                    Stars: <a href="actors.html#obi-wan" target="_blank">Ewan McGregor</a>,
                    <a href="actors.html#qui-gon" target="_blank">Liam Neeson</a>,
                    <a href="actors.html#padme" target="_blank">Natalie Portman</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/5.jpg" alt="Attack of the Clones">
                <figcaption>
                    <h4>Star Wars: Attack of the Clones (2002)</h4>
                    <pre> </pre>
                    <p>Ten years after initially meeting, Anakin Skywalker shares a forbidden
                        romance with Padmé Amidala, while Obi-Wan Kenobi investigates an
                        assassination attempt on the senator and discovers a secret clone
                        army crafted for the Jedi.</p>
                    <p><br>Director: George Lucas<br> Writers: George Lucas, Jonathan Hales<br>
                    Stars: <a href="actors.html#anakin" target="_blank">Hayden Christensen</a>,
                    <a href="actors.html#padme" target="_blank">Natalie Portman</a>,
                    <a href="actors.html#obi-wan" target="_blank">Ewan McGregor</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/6.jpg" alt="Revenge of the Sith">
                <figcaption>
                    <h4>Star Wars: Revenge of the Sith (2005)</h4>
                    <pre> </pre>
                    <p>Three years into the Clone Wars, the Jedi rescue Palpatine from
                        Count Dooku. As Obi-Wan pursues a new threat, Anakin acts as a
                        double agent between the Jedi Council and Palpatine and is lured
                        into a sinister plan to rule the galaxy.</p>
                    <p><br>Director: George Lucas<br> Writer: George Lucas<br>
                    Stars: <a href="actors.html#anakin" target="_blank">Hayden Christensen</a>,
                    <a href="actors.html#padme" target="_blank">Natalie Portman</a>,
                    <a href="actors.html#obi-wan" target="_blank">Ewan McGregor</a><br>
                </p>
                </figcaption>
            </figure>
    </div>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>