<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section>
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown active">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
    <div><h2 class="title">The First Trilogy</h2></div>
    <div class="gallery-films">
            <figure>
                <img src="/public/assets/images/1.jfif" alt="A New Hope">
                <figcaption>
                    <h4>Star Wars: A New Hope (1977)</h4>
                    <pre> </pre>
                    <p>Luke Skywalker joins forces with a Jedi Knight, a cocky pilot,
                        a Wookiee and two droids to save the galaxy from the Empire's
                        world-destroying battle station, while also attempting to rescue
                        Princess Leia from the mysterious Darth Vader.</p>
                    <p><br>Director: George Lucas<br> Writer: George Lucas<br>
                    Stars: <a href="actors.html#luke" target="_blank">Mark Hamill</a>,
                    <a href="actors.html#han" target="_blank">Harrison Ford</a>,
                    <a href="actors.html#leia" target="_blank">Carrie Fisher</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/2.jfif" alt="The Empire Strikes Back">
                <figcaption>
                    <h4>Star Wars: The Empire Strikes Back (1980)</h4>
                    <pre> </pre>
                    <p>After the Rebels are brutally overpowered by the Empire on the
                        ice planet Hoth, Luke Skywalker begins Jedi training with Yoda,
                        while his friends are pursued by Darth Vader and a bounty
                        hunter named Boba Fett all over the galaxy.</p>
                    <p><br>Director: Irvin Kershner<br> Writers: Leigh Brackett, Lawrence Kasdan<br>
                    Stars: <a href="actors.html#luke" target="_blank">Mark Hamill</a>,
                    <a href="actors.html#han" target="_blank">Harrison Ford</a>,
                    <a href="actors.html#leia" target="_blank">Carrie Fisher</a><br>
                </p>
                </figcaption>
            </figure>
            <figure>
                <img src="/public/assets/images/3.jfif" alt="Return of the Jedi">
                <figcaption>
                    <h4>Star Wars: Return of the Jedi (1983)</h4>
                    <pre> </pre>
                    <p>After a daring mission to rescue Han Solo from Jabba the Hutt,
                    the Rebels dispatch to Endor to destroy the second Death Star.
                    Meanwhile, Luke struggles to help Darth Vader back from the
                    dark side without falling into the Emperor's trap.</p>
                    <p><br>Director: Richard Marquand<br> Writers: Lawrence Kasdan, George Lucas<br>
                    Stars: <a href="actors.html#luke" target="_blank">Mark Hamill</a>,
                    <a href="actors.html#han" target="_blank">Harrison Ford</a>,
                    <a href="actors.html#leia" target="_blank">Carrie Fisher</a><br>
                </p>
                </figcaption>
            </figure>
    </div>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>