<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section>
        <h1 style="display:none">Star Wars</h1>
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game">Game</a>
                <a href="form" class="active">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
        <h2 class="title">Form</h2>
        <form id = "form" method = "GET">
            <div>
                <label for="name">Name</label><br>
                <input type="text" id="name"/>
            </div>
            <div>
                <label for="email">Email</label><br>
                <input type="text" id="email"/>
            </div>
            <div>
                <label for="suggestions">Suggestions</label><br>
                <textarea type="text" id="suggestions" rows="2"></textarea>
            </div>
            <div>
                <button id="submit">Submit</button>
            </div>
        </form>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>