<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body onload = "gallery()">
    <section style = "background: black;">
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery" class="active">Gallery</a>
                <a href="game">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
    <div><h2 class="title">Gallery</h2></div>
    <div class="gallery" id="photo-gallery">
        <div class="column">
            <figure>
                <img id="img1" src="/public/assets/images/img1.jpg">
            </figure>
            <figure>
                <img id="img2" src="/public/assets/images/img2.jpg">
            </figure>
            <figure>
                <img id="img3" src="/public/assets/images/img3.jpg">
            </figure>
            <figure>
                <img id="img4" src="/public/assets/images/img4.jpg">
            </figure>
            </div>
        <div class="column">
            <figure>
                <img id="img5" src="/public/assets/images/img7.jpg">
            </figure>
            <figure>
                <img id="img6" src="/public/assets/images/img8.jpg">
            </figure>
            <figure>
                <img id="img7" src="/public/assets/images/img9.jpg">
            </figure>
            <figure>
                <img id="img8" src="/public/assets/images/img10.jpg">
            </figure>
            </div>
        <div class="column">
            <figure>
                <img id="img9" src="/public/assets/images/img13.jpg">
            </figure>
            <figure>
                <img id="img10" src="/public/assets/images/img14.jpg">
            </figure>
            <figure>
                <img id="img11" src="/public/assets/images/img15.jpg">
            </figure>
            <figure>
                <img id="img12" src="/public/assets/images/img16.jpg">
            </figure>
            </div>
        <div class="column">
            <figure>
                <img id="img13" src="/public/assets/images/img19.jpg">
            </figure>
            <figure>
                <img id="img14" src="/public/assets/images/img20.jpg">
            </figure>
            <figure>
                <img id="img15" src="/public/assets/images/img21.jpg">
            </figure>
            <figure>
                <img id="img16" src="/public/assets/images/img22.jpg">
            </figure>
            </div>
    </div>
    
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>