<!DOCTYPE html>
<html lang = "en">

<%- include('../partials/head.ejs'); %>
<body>
    <section style = "background: black;">
        <header>
            <div class="nav" id = "myTopnav">
                <a href="index" class="active">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Films
                  </button>
                  <div class="dropdown-content">
                    <a href="films1">1st trilogy</a>
                    <a href="films2">2nd trilogy</a>
                    <a href="films3">3rd trilogy</a>
                  </div>
                </div>
                <a href="actors">Actors</a>
                <a href="gallery">Gallery</a>
                <a href="game" class="active">Game</a>
                <a href="form">Form</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
        <div><h2 class="title">Space Shooter</h2></div>
        <div id = "board">
            <div class="rocks"></div>
            <div id="jet"></div>
        </div>
        <div id="points">0</div>
        <div id="highscore">Highscore: 0</div>
    </section>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>