<head>
    <title>Star Wars</title>
    <link rel="stylesheet" href="/public/assets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/public/assets/script.js"></script>
</head>